<div class="menu-grid">
  <div
    class="menu-item"
    data-description="Nasi putih hangat, cocok untuk segala jenis lauk."
    data-header="/assets/img/product-nasi.jpg"
    data-menu='[{"name":"Nasi Goreng","price":"20K"},{"name":"Sate Ayam","price":"25K"}]'
    style="background-image: url('/assets/img/product-nasi.jpg')"
  >
    <div class="menu-overlay">
      <h3>Nasi</h3>
      <p>Start from: Rp12,000</p>
    </div>
  </div>
  <div
    class="menu-item"
    data-description="Mie instan atau rebus dengan berbagai topping pilihan."
    data-header="/assets/img/product-mie.jpg"
    data-menu='[{"name":"Mie Goreng","price":"10K"},{"name":"Mie Rebus","price":"12K"},{"name":"Mie Rebus","price":"12K"},{"name":"Mie Rebus","price":"12K"}]'
    style="background-image: url('/assets/img/product-mie.jpg')"
  >
    <div class="menu-overlay">
      <h3>Mie</h3>
      <p>Start from: Rp8,000</p>
    </div>
  </div>
  <div
    class="menu-item"
    data-description="Roti bakar manis, asin, dan berbagai varian isi."
    data-header="/assets/img/product-roti.jpg"
    data-menu='[{"name":"Roti Bakar Coklat","price":"15K"},{"name":"Roti Bakar Keju","price":"18K"}]'
    style="background-image: url('/assets/img/product-roti.jpg')"
  >
    <div class="menu-overlay">
      <h3>Roti</h3>
      <p>Start from: Rp10,000</p>
    </div>
  </div>
  <div
    class="menu-item"
    data-description="Minuman segar untuk menemani waktu santai Anda."
    data-header="/assets/img/product-minuman.jpg"
    data-menu='[{"name":"Es Teh","price":"5K"},{"name":"Kopi Hitam","price":"10K"}]'
    style="background-image: url('/assets/img/product-minuman.jpg')"
  >
    <div class="menu-overlay">
      <h3>Minuman</h3>
      <p>Start from: Rp5,000</p>
    </div>
  </div>
  <div
    class="menu-item"
    data-description="Cemilan ringan untuk menemani waktu santai."
    data-header="/assets/img/product-cemilan.jpg"
    data-menu='[{"name":"Keripik Singkong","price":"7K"},{"name":"Pisang Goreng","price":"10K"}]'
    style="background-image: url('/assets/img/product-cemilan.jpg')"
  >
    <div class="menu-overlay">
      <h3>Cemilan</h3>
      <p>Start from: Rp7,000</p>
    </div>
  </div>
  <div
    class="menu-item"
    data-description="Menu sarapan sehat dan bergizi."
    data-header="/assets/img/product-sarapan.jpg"
    data-menu='[{"name":"Bubur Ayam","price":"15K"},{"name":"Nasi Uduk","price":"18K"}]'
    style="background-image: url('/assets/img/product-sarapan.jpg')"
  >
    <div class="menu-overlay">
      <h3>Sarapan</h3>
      <p>Start from: Rp15,000</p>
    </div>
  </div>
</div>
